In [9]:
import pandas as pd

In [10]:
myFile=pd.read_csv("D:\data.csv")
print(myFile)

      Name  Age  Phone number
0     Suba   21    9580934567
1  Deepana   22    6785432190
2    Priya   20    9876543212
3     Mani   25    8789875432
4  Murugan   23    9870678978